[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["all"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
typer = "*"
rich = "*"

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.12"
